body {
    background-image: url("pic.jpg");
    text-align: center;
    font-size: 30px;
}

#principal {
	display: flex;
	justify-content: space-around;
}

h1{
    color: rgb(249, 192, 21);
    text-shadow: 0px 0 rgb(125, 128, 0), 0 3px rgb(24, 154, 138), 2px 0 rgb(245, 125, 1), 0 -1px rgb(245, 125, 1);
    font-family: "Tahoma", "Geneva", sans-serif;
}


h2 {

	font-size: 42px;
	font-family: "Tahoma", "Geneva", sans-serif;

}

a:link {
	font-size: 30px;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
}

#izq_lat {
	width:130px;
	margin-top: 30px;
	text-align: left;
	font-size: 10px;
}

#center {
	width:1000px;
}

#der_lat {
	width:130px;
	margin-top: 30px;
}

#menu {

	font-family: "Tahoma", "Geneva", sans-serif;

	text-align: center;

	display: inline;
}

img {
	max-width: 100%;
    	max-height: 100%;
}

.wrapper {
    padding: 50px;
    margin-top: 30px;
    display: inline-block;
    box-shadow: 0px 0px 10px 5px rgb(255, 127, 39);
}
